################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/gitsync.ps1
/gitmerge.ps1